/* Color palette */
:root {
  --light-blue-grey: #cbd9db;
  --greyblue: #7ca1a5;
  --tangerine: #f28a0c;
  --white: #f6f6f6;
  --pale-salmon: #fac19f;
  --greyblue-82: rgba(124, 161, 165, 0.82);
  --greyblue-40: rgba(124, 161, 165, 0.4);
  --greyish-brown: #4a4a4a;
  --accent: #f2600c;
}

body {
  font-family: Verdana;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.44px;
  color: var(--greyish-brown);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: -1.37px;
  color: var(--greyish-brown);
  padding-left: 7px;
  min-height: 80px;
  margin: 38px 0 4px;
  z-index: 1;
}

h1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -38px;
  left: 0px;
  z-index: -1;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #cbd9db;
}

h1.arrow-down {
  min-height: 50px;
  padding: 0;
}

h1.arrow-down:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 36px;
  left: 38px;
  z-index: -1;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #cbd9db;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.82px;
  color: var(--greyish-brown);
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

ul li {
  list-style: none; 
}

ul li:before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--accent); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.main-container {
  max-width: 1000px;
  display: block;
  margin: auto;
  padding: 0;
}

.main-logo img {
  max-height: 80px;
  display: block;
  margin: 3px auto 10px;
}

ul.main-nav {
  list-style:none;
  display: block;
  text-align: center;
  padding: 12px 0;
}

ul.main-nav li {
  min-width: 80px;
  display: inline-block;
  margin: 0 15px;
  font-family: Verdana;
  font-size: 15px;
  letter-spacing: -0.47px;
  text-transform: uppercase;
}

ul.main-nav li:before {
  content: none;
}

ul.main-nav li a {
  color: #252525;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: transparent 2px;
}

ul.main-nav li.active a {
  font-weight: bold;
}

ul.main-nav li a:hover {
  border-bottom: solid 2px var(--accent);
}

.main-slide {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin: 0px;
  position: relative;
}

.main-slide-content {
  width: 750px;
  padding: 25px;
  background-color: rgba(246, 246, 246, 0.95);;
  position: absolute;
  top: 60px;
}

.main-slide-content h1 {
  font-size: 28px;
}

.main-slide-content h2 {
  font-size: 18px;
}

.main-slide-content p {
  margin-left: 100px;
  font-size: 12px;
}

.main-content {
  padding: 20px 10px 74px;
}

.content-sidebar-wrapper {
  display: grid;
  grid-template-columns: auto 230px;
}

.sidebar {
  order: 2;
}

.sidebar p {
  position: relative;
  z-index: 1;
}

.elm-card {
  position: relative;
  margin-top: 100px;
  margin-right: 20px;
}

.elm-card-img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  left: 40px;
  border-radius: 8px;
}

.elm-card-title {
  width: 180px;
  height: 90px;
  background-color: var(--white);
  padding: 70px 15px 0px;
}

.elm-card-text {
  width: 200px;
  height: 100px;
  background-color: var(--light-blue-grey);
  padding: 8px 15px 8px;
}

.elm-card-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-top {
  height: 60px;
  background-color: #cbd9db;
  margin-left: 40px;
  margin-right: 0px;
}

.footer {
  background-color: var(--greyish-brown);
  height: 360px;
}